//Imports
@import "./mixins";
@import "./placeholderClasses";

//Variables
$contactBtnColor: #F2C94C;
$primaryTextColor: #333;
$linkFont: "Verdana", sans-serif;
$primaryFontFamily: Georgia, serif;
$paragraphBorder: 3px solid $primaryTextColor;


//Primary Styles

html {
    box-sizing: border-box;
    font-family: $primaryFontFamily;
}

body {
    background-color: #f6f6f6;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

h2, h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    @extend %list-styling;
}

li {
    display: inline-block;
}

button {
    border: none;
    border-radius: 4px;
    padding: 0;
}

a {
    display: inline-block;
}

a:link,
a:visited {
    color: $primaryTextColor;
}


//Container
.container {
    @include grid(1fr, repeat(2, auto), 130px, 0);
    //Top Header
    header {
        @include flexbox(row wrap, initial, space-between, center, 10px, 10px);
        padding: 12px 8px;
        a {
            width: 100%;
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            font: {
                family: $linkFont;
                size: 0.8rem;
                weight: bold;
            }
        }

        //Lets' Talk button
        .contact-btn {
            background-color: $contactBtnColor;
            text-transform: uppercase;
            flex: 2 auto;
            transition: .5s all;
            a {
                font-size: 1.2rem;
            }
            &:hover {
                background-color: #A2C94C;
            }
            @media (min-width: 660px) {
                flex: 0 1 200px;
            }
        }
        
        //Download Resume button
        .resume-btn {
            flex: 1;
            transition: all .5s;
            @media (min-width: 660px) {
                flex: 0 1 150px;
            }
            &:hover {
                background-color: #1877f2;

            }
            a:hover {
                color: #eee;
            }
        }
    }
    main {
        @include flexbox(column wrap, initial, initial, initial, 50px, 0);
        //Hero Section
        .hero {
            @include flexbox(row wrap, center, center, initial, 40px, 0);
            figure {
                margin: {
                    left: 8px;
                    top: 0;
                    bottom: 0;
                }
                flex: 2 200px;
            }
            h1 {
                flex: 1 auto;
                writing-mode: vertical-lr;
                font-size: 2.2rem;
            }
            h2 {
                font-size: 1.2rem;
                text-align: center;
                a {
                    transition: all 0.5s;
                    &:hover {
                        color: $contactBtnColor;
                    }
                }
            }
            h1, h2 {
                font-family: Arial;
            }
            p {
                padding: 10px;
                text-align: justify;
                border: {
                    top: $paragraphBorder;
                    bottom: $paragraphBorder
                }
            }
            @media (min-width: 660px) {
                @include grid(2fr 3fr, repeat(3, minmax(150px, auto)), 10px, 10px);
                justify-items: center;
                figure {
                    margin: 0;
                    grid-area: 1 / 1 / 3 / 1;
                }
                h1 {
                    writing-mode: initial;
                    grid-area: 1 / 2 / 1 / 3;
                    font-size: 2rem;
                    align-self: end;
                }

                h2 {
                    grid-area: 2 / 2 / 3 / 3;
                    align-self: start;
                    text-align: center;
                }

                p {
                    grid-column: span 3;
                    font-size: 1.2rem;
                }
            }   
            @media (min-width: 850px) {
                margin: 0 auto;
                figure {
                    grid-row: 1 / -1;
                }
                p {
                    grid-area: 3 / 2 / 3 / 3;
                    align-self: end;
                    margin-bottom: 4px;
                }
            }

            @media (min-width: 1100px) {
                width: 1000px;
            }
            
        }
        //Projects Section
        .projects {
            text-align: center;
            figure {
                @include flexbox(column wrap, initial, initial, initial, 20px, 0);
                img {
                    border: 2px solid #333;
                }
                @media (min-width: 660px) {
                    margin: 0;
                    @include flexbox(row wrap, center, center, initial, 20px, 20px);
                    img {
                        width: 300px;
                        height: auto;
                    }
                }

                @media (min-width: 850px) {
                    img {
                        width: 450px;
                    }
                }
            }
        

        }
        //Contact Section
        #contact {
            text-align: center;
            ul {
                @include flexbox(column, center, initial, initial, 20px, 0);
                li {
                    flex: 1;
                    width: 50%;
                    font-size: 1.4rem;
                    a {
                        width: 100%;
                        border-radius: 4px;
                        text-decoration: none;
                        padding: 20px 0;
                        color: #fff;
                        font: {
                            family: Helvetica, sans-serif;
                            weight: bolder;
                        }
                    }
                    #facebook {
                        background-color: #1877f2;
                    }
                    #linkedIn {
                        background-color: #0353a4;
                    }
                    #github {
                        background-color: #1c2128;
                    }
                    #gmail {
                        background-color: #cc3d32;
                    }
                }
                @media (min-width: 660px) {
                    @include flexbox(row wrap, center, center, initial, 5px, 10px);
                    
                }
                
            }
        }
    }
}



