//Variables
$contactBtnColor: #F2C94C;
$primaryTextColor: #333;
$linkFont: "Verdana", sans-serif;
$primaryFontFamily: Georgia, serif;

//Primary Styles

html {
    box-sizing: border-box;
    font-family: $primaryFontFamily;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

button {
    border: none;
    border-radius: 4px;
    padding: 0;
}

a:link,
a:visited {
    color: $primaryTextColor;
}


//Container
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(450, auto));
    row-gap: 30px;
    //Top Header

    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        padding: 12px 8px;
        gap: 10px;
        a {
            width: 100%;
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            font-family: $linkFont;
            font-weight: bold;
            font-size: 0.8rem;
        }
        .contact-btn {
            background-color: $contactBtnColor;
            text-transform: uppercase;
            flex: 2 auto;
            a {
                font-size: 1.2rem;
            }
        }
        
        .resume-btn {
            flex: 1;
        }
    }
    //Hero Section
    .hero {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        figure {
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            flex: 2 150px;
        }
        h1 {
            flex: 1 auto;
            writing-mode: vertical-lr;
            align-self: center;
            font-size: 2.2rem;
        }
        h2 {
            font-size: 1.1rem;
        }
        p {
            padding: 10px;
            text-align: justify;
        }
    }
}




